@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Special+Gothic+Expanded+One&display=swap');
@import "tailwindcss";

@theme {
  --font-heading: "Special Gothic Expanded One", sans-serif;
  --font-body: "Montserrat", sans-serif;
}

@layer base {
  h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-heading);
  }

  p {
    font-family: var(--font-body);
  }
}
